body {
    background-color: #205d8a;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    color: white;
}

#twitchbox {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 0;
}

#twitchbox a {
    margin: 2px;
    border: 4px solid transparent;
    border-radius: 10px;
    display: inline-block;
    opacity: 0.6;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#twitchbox a:hover {
    border-color: white;
    opacity: 1;
}

#twitchbox img {
    border-radius: 6px;
}
