body {
    background-color: #205d8a;
}
#twitchbox {
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    font-size: 0;  
}

#twitchbox a {
    margin: 2px;
    border: 4px solid #333;
}
