body {
    background-color: #205d8a;
}

.col-md-6 {
    background-color: ;
}

ul.navbar {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
    opacity: 0.8;
    border-radius: 15px;
}

ul.navbar li {float: left;}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {background-color: #111;}

ul.navbar li a.active {background-color: #4C678C;}

@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
}

#twitchbox {
    padding: 20px;
    margin-top: 100px;
    height: 1500px;
}

#title {
    text-align: center;
    color: white;
}